# ============================================================
# BROWSER-SIDE CONFIGURATION (Public)
# ============================================================

# Context ID from Sitecore CDP > Settings > API Access
NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=your-context-id-here

# Site name configured in Sitecore CDP
NEXT_PUBLIC_SITECORE_SITE_NAME=your-site-name-here

SITECORE_CDP_POINTOFSALE=your-pos

SITECORE_CDP_CLIENT_KEY=your-cdp-client-key

SITECORE_CDP_API_TOKEN=your-cdp-api-token